USE [master]
GO
/****** Object:  Database [LifeCycle]    Script Date: 23/03/2025 20:21:49 ******/
CREATE DATABASE [LifeCycle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LifeCycle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LifeCycle.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LifeCycle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LifeCycle_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LifeCycle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LifeCycle]
GO
/****** Object:  Table [dbo].[FoodItem]    Script Date: 23/03/2025 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItem](
	[Name] [nvarchar](255) NULL,
	[Calories] [int] NULL,
	[Protein] [float] NULL,
	[Carbs] [float] NULL,
	[Fats] [float] NULL,
	[Sugars] [float] NULL,
	[Category] [int] NULL,
	[ServingSize] [int] NULL,
	[IsGlutenFree] [bit] NOT NULL,
	[IsDairyFree] [bit] NOT NULL,
	[IsNutFree] [bit] NOT NULL,
	[IsPeanutsFree] [bit] NOT NULL,
	[IsSoyFree] [bit] NOT NULL,
	[IsEggFree] [bit] NOT NULL,
	[IsSesameFree] [bit] NOT NULL,
	[IsFishFree] [bit] NOT NULL,
	[DiabeticFriendly] [bit] NULL,
	[IsMeatFree] [bit] NULL,
	[ImagePath] [nvarchar](255) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealFoodItems]    Script Date: 23/03/2025 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealFoodItems](
	[MealId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meals]    Script Date: 23/03/2025 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MealType] [int] NOT NULL,
	[MealName] [nvarchar](255) NOT NULL,
	[MealTime] [nvarchar](50) NOT NULL,
	[Calories] [int] NOT NULL,
	[MealRestrictions] [nvarchar](255) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Meals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuMeal]    Script Date: 23/03/2025 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuMeal](
	[MenuId] [int] NOT NULL,
	[MealId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 23/03/2025 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](255) NOT NULL,
	[Calories] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[MenuStatus] [nvarchar](50) NOT NULL,
	[MenuDuration] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferences]    Script Date: 23/03/2025 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Diet] [int] NOT NULL,
	[Goal] [int] NOT NULL,
	[Stress] [int] NOT NULL,
	[MedicalCondition] [int] NOT NULL,
	[Activity] [int] NOT NULL,
	[MealsPerDay] [int] NOT NULL,
	[Sleep] [int] NOT NULL,
	[Water] [int] NOT NULL,
	[Sensitivity] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[IsSensitiveToGluten] [int] NOT NULL,
	[IsSensitiveToDairy] [int] NOT NULL,
	[IsSensitiveToNuts] [int] NOT NULL,
	[IsSensitiveToPeanuts] [int] NOT NULL,
	[IsSensitiveToSoy] [int] NOT NULL,
	[IsSensitiveToEggs] [int] NOT NULL,
	[IsSensitiveToSesame] [int] NOT NULL,
	[IsSensitiveToFish] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/03/2025 20:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[USERPASSWORD] [varchar](10) NOT NULL,
	[USERNAME] [varchar](10) NOT NULL,
	[AGE] [int] NOT NULL,
	[USERHEIGHT] [int] NOT NULL,
	[USERWEIGHT] [int] NOT NULL,
	[TARGETWEIGHT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodItem] ON 

INSERT [dbo].[FoodItem] ([Name], [Calories], [Protein], [Carbs], [Fats], [Sugars], [Category], [ServingSize], [IsGlutenFree], [IsDairyFree], [IsNutFree], [IsPeanutsFree], [IsSoyFree], [IsEggFree], [IsSesameFree], [IsFishFree], [DiabeticFriendly], [IsMeatFree], [ImagePath], [Id]) VALUES (N'Bulgur, cooked with white beans and tomatoes', 112, 5.3000001907348633, 15.300000190734863, 1.7000000476837158, 1, 8, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, N'PIC/Beef_and_turkey_patties_fried_fat_0t_added.png', 1)
INSERT [dbo].[FoodItem] ([Name], [Calories], [Protein], [Carbs], [Fats], [Sugars], [Category], [ServingSize], [IsGlutenFree], [IsDairyFree], [IsNutFree], [IsPeanutsFree], [IsSoyFree], [IsEggFree], [IsSesameFree], [IsFishFree], [DiabeticFriendly], [IsMeatFree], [ImagePath], [Id]) VALUES (N'Leben, cooked', 41, 2.2000000476837158, 2.2000000476837158, 2.5999999046325684, 2.2000000476837158, 2, 100, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, N'PIC/Leben_cooked.png', 2)
INSERT [dbo].[FoodItem] ([Name], [Calories], [Protein], [Carbs], [Fats], [Sugars], [Category], [ServingSize], [IsGlutenFree], [IsDairyFree], [IsNutFree], [IsPeanutsFree], [IsSoyFree], [IsEggFree], [IsSesameFree], [IsFishFree], [DiabeticFriendly], [IsMeatFree], [ImagePath], [Id]) VALUES (N'Leben, cooked with onion', 43, 2.0999999046325684, 3.5999999046325684, 2.2000000476837158, 2.7999999523162842, 2, 100, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, N'PIC/Leben_cooked_with_onion.png', 3)
GO
SET IDENTITY_INSERT [dbo].[FoodItem] OFF
GO
INSERT [dbo].[MealFoodItems] ([MealId], [FoodItemId]) VALUES (33, 982)
INSERT [dbo].[MealFoodItems] ([MealId], [FoodItemId]) VALUES (33, 1016)
INSERT [dbo].[MealFoodItems] ([MealId], [FoodItemId]) VALUES (33, 1158)
GO
SET IDENTITY_INSERT [dbo].[Meals] ON 

INSERT [dbo].[Meals] ([Id], [MealType], [MealName], [MealTime], [Calories], [MealRestrictions], [UserId]) VALUES (102, 1, N'', N'', 410, N'', 11)
INSERT [dbo].[Meals] ([Id], [MealType], [MealName], [MealTime], [Calories], [MealRestrictions], [UserId]) VALUES (103, 2, N'', N'', 573, N'', 11)
INSERT [dbo].[Meals] ([Id], [MealType], [MealName], [MealTime], [Calories], [MealRestrictions], [UserId]) VALUES (104, 3, N'', N'', 264, N'', 11)
GO
SET IDENTITY_INSERT [dbo].[Meals] OFF
GO
INSERT [dbo].[MenuMeal] ([MenuId], [MealId]) VALUES (34, 102)
INSERT [dbo].[MenuMeal] ([MenuId], [MealId]) VALUES (34, 103)
INSERT [dbo].[MenuMeal] ([MenuId], [MealId]) VALUES (34, 104)
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [MenuName], [Calories], [Description], [MenuStatus], [MenuDuration], [UserId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Custom Plan', 914, N'Personalized meal plan', N'Active', 7, 6, CAST(N'2025-03-10T16:22:37.400' AS DateTime), CAST(N'2025-03-10T16:22:37.400' AS DateTime))
INSERT [dbo].[Menus] ([Id], [MenuName], [Calories], [Description], [MenuStatus], [MenuDuration], [UserId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Custom Plan', 995, N'Personalized meal plan', N'Active', 7, 9, CAST(N'2025-03-11T10:25:27.090' AS DateTime), CAST(N'2025-03-11T10:25:27.090' AS DateTime))
INSERT [dbo].[Menus] ([Id], [MenuName], [Calories], [Description], [MenuStatus], [MenuDuration], [UserId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Custom Plan', 962, N'Personalized meal plan', N'Active', 7, 11, CAST(N'2025-03-10T18:23:26.177' AS DateTime), CAST(N'2025-03-10T18:23:26.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Preferences] ON 

INSERT [dbo].[Preferences] ([Id], [UserId], [Diet], [Goal], [Stress], [MedicalCondition], [Activity], [MealsPerDay], [Sleep], [Water], [Sensitivity], [Gender], [IsSensitiveToGluten], [IsSensitiveToDairy], [IsSensitiveToNuts], [IsSensitiveToPeanuts], [IsSensitiveToSoy], [IsSensitiveToEggs], [IsSensitiveToSesame], [IsSensitiveToFish]) VALUES (2, 3, 2, 2, 2, 2, 2, 2, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Preferences] ([Id], [UserId], [Diet], [Goal], [Stress], [MedicalCondition], [Activity], [MealsPerDay], [Sleep], [Water], [Sensitivity], [Gender], [IsSensitiveToGluten], [IsSensitiveToDairy], [IsSensitiveToNuts], [IsSensitiveToPeanuts], [IsSensitiveToSoy], [IsSensitiveToEggs], [IsSensitiveToSesame], [IsSensitiveToFish]) VALUES (3, 6, 0, 0, 1, 0, 0, 2, 1, 4, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0)
INSERT [dbo].[Preferences] ([Id], [UserId], [Diet], [Goal], [Stress], [MedicalCondition], [Activity], [MealsPerDay], [Sleep], [Water], [Sensitivity], [Gender], [IsSensitiveToGluten], [IsSensitiveToDairy], [IsSensitiveToNuts], [IsSensitiveToPeanuts], [IsSensitiveToSoy], [IsSensitiveToEggs], [IsSensitiveToSesame], [IsSensitiveToFish]) VALUES (4, 7, 0, 0, 2, 0, 0, 3, 3, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Preferences] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [EMAIL], [USERPASSWORD], [USERNAME], [AGE], [USERHEIGHT], [USERWEIGHT], [TARGETWEIGHT]) VALUES (2, N'sh30@gmail.com', N'30', N'Ela', 20, 165, 60, 55)
INSERT [dbo].[Users] ([Id], [EMAIL], [USERPASSWORD], [USERNAME], [AGE], [USERHEIGHT], [USERWEIGHT], [TARGETWEIGHT]) VALUES (3, N'sh30@gmail.com', N'30', N'Ela', 32, 165, 60, 55)
INSERT [dbo].[Users] ([Id], [EMAIL], [USERPASSWORD], [USERNAME], [AGE], [USERHEIGHT], [USERWEIGHT], [TARGETWEIGHT]) VALUES (4, N'SHANIPOLSKY@GMAIL.COM', N'2005', N'SHGANIPOL', 22, 170, 60, 53)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Preferen__1788CC4D241A7E67]    Script Date: 23/03/2025 20:21:50 ******/
ALTER TABLE [dbo].[Preferences] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [Diet]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [Goal]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((2)) FOR [Stress]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [MedicalCondition]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [Activity]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((3)) FOR [MealsPerDay]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((3)) FOR [Sleep]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((2)) FOR [Water]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [Sensitivity]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToGluten]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToDairy]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToNuts]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToPeanuts]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToSoy]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToEggs]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToSesame]
GO
ALTER TABLE [dbo].[Preferences] ADD  DEFAULT ((0)) FOR [IsSensitiveToFish]
GO
ALTER TABLE [dbo].[Meals]  WITH CHECK ADD  CONSTRAINT [FK_Meals_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Meals] CHECK CONSTRAINT [FK_Meals_Users]
GO
ALTER TABLE [dbo].[MenuMeal]  WITH CHECK ADD  CONSTRAINT [FK_MenuMeals_Meals] FOREIGN KEY([MealId])
REFERENCES [dbo].[Meals] ([Id])
GO
ALTER TABLE [dbo].[MenuMeal] CHECK CONSTRAINT [FK_MenuMeals_Meals]
GO
ALTER TABLE [dbo].[MenuMeal]  WITH CHECK ADD  CONSTRAINT [FK_MenuMeals_Menus] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[MenuMeal] CHECK CONSTRAINT [FK_MenuMeals_Menus]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
